@import "/src/styles/extends";
@import "/src//styles/variables";

.images {
  @extend %flex-column-center;
  justify-content: space-evenly;
  border-right: 2px solid $pink;
  height: 650px;
  margin-top: 40px;

  &__silla {
    height: 200px;
    width: 300px;
  }
}
