@import "/src/styles/extends";
@import "/src//styles/variables";

.form {
  @extend %flex-column-center;
  height: 800px;

  &__title {
    @extend %title;
  }

  &__register {
    @extend %form-sub-title;
  }

  &__container {
    @extend %flex-column-center;
  }

  &__data-container {
    display: flex;
    width: 670px;
    justify-content: space-evenly;
    align-items: center;
  }

  &__data {
    @extend %flex-column-center;
  }

  &__data-info {
    @extend %flex-column-center;
  }

  &__firstnamelabel,
  &__lastnamelabel,
  &__userlabel,
  &__emaillabel,
  &__datelabel,
  &__agelabel,
  &__avatarlabel,
  &__directionlabel,
  &__passwordlabel {
    @extend %form-label;
  }

  &__passwordlabel {
    margin-top: 20px;
  }

  &__firstnameinput,
  &__lastnameinput,
  &__userinput,
  &__emailinput,
  &__dateinput,
  &__ageinput,
  &__avatarinput,
  &__directioninput,
  &__passwordinput {
    @extend %form-input;
  }

  // &__firstnameinput:focus,
  // &__lastnameinput:focus,
  // &__userinput:focus,
  // &__emailinput:focus,
  // &__dateinput:focus,
  // &__ageinput:focus,
  // &__avatarinput:focus,
  // &__directioninput:focus {
  //   background-color: $green;
  // }

  input:focus-visible {
    outline: none;
    border: 0;
    border-bottom: 1px solid red;
  }

  &__dateinput::-webkit-file-upload-button {
    visibility: hidden;
  }

  &__dateinput::before {
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
  }

  &__avatarinput::-webkit-file-upload-button {
    visibility: hidden;
  }

  &__avatarinput::before {
    content: "Select a image";

    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
  }

  &__container-button {
    margin-top: 50px;
  }

  &__button {
    height: 45px;
    width: 150px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: $fontSubTitle;
    background-color: $green;
    text-transform: uppercase;
  }

  &__button:hover {
    cursor: pointer;
    background-color: #d2bed9;
  }
}
